@charset "utf-8";

@import "bulma/css/bulma.css";

:root {
    --bulma-black: #252831;
    --bulma-black-bis: #303440;
    --bulma-black-ter: #404450;
    --bulma-white-ter: #5c5f66;
    --bulma-white-bis: #9fa0a5;
    --bulma-white: #ffffff;
    --bulma-turquoise: #0066cb;
    --bulma-green: #1a967a;
    --bulma-red: #e23642;
    --bulma-cyan: #015486;
}


.prevent-overscroll {
    overscroll-behavior: contain;
}