@charset "utf-8";

$blue: #0c66c7;
$black: #2a2c34;
$white: #ffffff;
$accent: #343742;
$light-accent: #9e9fa3;
$lime: #79d234;
$red: #de2a2a;

$background: $black;
$body-background-color: $black;
$primary: $blue;
$dark: $accent;
$light: $light-accent;
$text: $white;
$text-strong: $white;
$success: $lime;
$danger: $red;
$scheme-main: $accent;
$scheme-main-bis: $accent;
$input-background-color: $white;
$input-color: $black;
$table-background-color: rgba(0,0,0,0);

@import "~bulma/bulma";