@charset "utf-8";

$black: #252831;
$black-bis: #303440;
$black-ter: #404450;
$white-ter: #5c5f66;
$white-bis: #9fa0a5;
$white: #ffffff;
$blue: #0066cb;
$green: #1a967a;
$red: #e23642;
$blue-accent: #015486;


@use "../node_modules/bulma/sass" with ($black: $black,
    $black-bis: $black-bis,
    $black-ter: $black-ter,
    $white-ter: $white-ter,
    $white-bis: $white-bis,
    $white: $white,
    $turquoise: $blue,
    $green: $green,
    $red: $red,
    $cyan: $blue-accent,
);


.prevent-overscroll {
    overscroll-behavior: contain;
}